<h2 class="text-center text-primary">Sign up</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary"></h2>
  <hr />
  <div class="form-control mb-2">
    <label for="" class="control-label" style="margin-right: 10px"
      >I am a:</label
    >
    <label for="" class="radio-inline">
      <input type="radio" value="male" formControlName="gender" /> Male
    </label>
    <label for="" class="radio-inline">
      <input
        class="ml-3"
        type="radio"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
  </div>
  <app-text-input
    [formControl]="registerForm.controls.username"
    [label]="'Username'"
    [type]="'text'"
  ></app-text-input>

  <app-text-input
    [formControl]="registerForm.controls.knowAs"
    [label]="'Know As'"
    [type]="'text'"
  ></app-text-input>
  <!-- <app-date-input
    [formControl]="registerForm.controls.dateOfBirth"
    [label]="'Date Of Birth'"
    [maxDate]="maxDate"
  ></app-date-input> -->
  <input type="date" class="form-control" formControlName="dateOfBirth" />
  <app-text-input
    [formControl]="registerForm.controls.city"
    [label]="'City'"
    [type]="'text'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls.country"
    [label]="'Country'"
    [type]="'text'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls.password"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="registerForm.controls.confirmPassword"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>

  <div *ngIf="validatorErrors.length > 0" class="row">
    <ul class="text-danger">
      <li *ngFor="let error of validatorErrors">
        {{ error }}
      </li>
    </ul>
  </div>

  <!-- button submit -->
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary mr-2" (click)="register()">
      Register
    </button>
    <button type="submit" class="btn btn-default mr-2" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
