<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <h4 class="text-center">No messages</h4>
    </div>
    <ul *ngIf="messages?.length > 0" class="chat">
      <li *ngFor="let message of messages">
        <div>
          <span class="chat-img float-right">
            <img
              class="img-fluid rounded-circle"
              [src]="message.senderPhotoUrl || 'assets/user.png'"
              [alt]="message.senderKnownAs"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">
                  {{ message.messageSent | timeago }}
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    !message.dateRead && message.senderUsername !== username
                  "
                >
                  (unread)
                </span>
                <span
                  class="text-success"
                  *ngIf="
                    message.dateRead && message.senderUsername !== username
                  "
                >
                  (read {{ message.dateRead | timeago }})
                </span>
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input
          type="text"
          name="messageContent"
          required
          [(ngModel)]="messageContent"
          class="form-control"
          placeholder="Type your message here..."
        />
        <span class="input-group-btn">
          <button [disabled]="!messageForm.valid" type="submit" class="btn btn-primary">Send</button>
        </span>
      </div>
    </form>
  </div>
</div>
